* {
    --maze-height: 80vh;
    --maze-width: calc(2.5 * var(--maze-height));
    --cols: 50;
    --node-size: calc(var(--maze-width)/var(--cols));

    --maze-color:        #ffffff;
    --start-color:       #0dff00;
    --finish-color:      #ff684d;
    --path-color-astar:        #59ff69;
    --path-color-dij:        #001aff;
    --path-color-overlap:        #4bfdee;
    --visited-node-color-astar:rgba(217, 175, 255, .5);
    --visited-node-color-dij:rgb(175, 218, 255, .5);
    --visited-node-color-overlap:rgba(69, 87, 255, 0.5);
    --wall-color:        #000000;
    --border-color:      #000000;
    --button-color:      #fbff00;
    --button-hover-color:#f4f800;

    --arrow-top: 50%;
    
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.top-shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.legends {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.legends > p {
    font-size: 15px;
    margin: 0;
}
.dij-legend, .astar-legend, .mix-legend {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--path-color);
}
.dij-legend {
    background-color: var(--path-color-dij);
}
.astar-legend {
    background-color: var(--path-color-astar);
}
.mix-legend {
    background-color: var(--path-color-overlap);
}

.button-container {
    text-align: center;
    margin: 10px;
}

.btn {
    position: relative;
    background-color: var(--button-color);
    padding: .4rem;
    outline: none;
    border: none;
    text-decoration: none;
    box-shadow:0px 3px #ffbf48;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--button-hover-color);
}
.btn:active {
    top: 3px;
    box-shadow:0px 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#select-algo {
    min-width: 7rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--button-color);
    border-radius: 20px 0 0 20px;
    box-shadow:3px 3px 10px #ffbf48;
}
.dropdown-content a {
    text-decoration: none;
    padding: 0.4rem;
    display: block;
}
.dropdown-content a:hover {
    --button-hover-color:#d0ff00;
    background-color: var(--button-hover-color);
    border-radius: 20px 0 0 20px;
}

.dropdown-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    top: var(--arrow-top);
    transform: translate(-50%, -50%);
    right: 0.1rem;
}
.dropdown:active .dropdown-arrow{
    --arrow-top: 20px;
}

.show {
    display: block;
    z-index: 10;
}

.disable-button:active {
    top: 0;
    box-shadow:0px 3px #ffbf48;
}
.disable-button {
    opacity: 0.5;
    cursor: not-allowed;
}


.btn:first-child {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.btn:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.maze-container {
    background-color: var(--maze-color);
    width: var(--maze-width);
    height: var(--maze-height);
    border: var(--border-color) 2px solid;
    margin: 15px auto 0;
    display: flex;
    flex-wrap: wrap;
}

.node {
    cursor: pointer;
    box-sizing: border-box;
    width: var(--node-size);
    height: var(--node-size);
    border:  .1px solid rgba(0, 0, 0,.05);
}

.start, .finish {
 position: relative;  
}
.start.animate, .finish.animate {
    background-color: var(--visited-node-color-dij);
}

.start::before, .finish::before {
    position: absolute;
    inset:0;
    content: '';
    z-index: 1;
    border: 2px solid black;
}
.start::before {
    background-color: var(--start-color);
    box-shadow: 0 0 5px var(--start-color);


}
.finish::before {
    background-color: var(--finish-color);
    box-shadow: 0 0 5px var(--finish-color);

}

.visited-astar {
    animation-name: visitedAnimation1;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.visited-dij {
    animation-name: visitedAnimation2;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.visited-astar.visited-dij {
    animation-name: visitedAnimation3;
}

.wall {
    background-color: var(--wall-color) !important;
    border: #252525 solid 1px;
}
.wall.visited-astar, .wall.visited-dij {
    opacity: .7;
}

.path-dij {
    position: relative;
}
.path-dij::after {
    z-index: 1;
    position: absolute;
    content: '';
    inset: 2.5px;
    --path-color: var(--path-color-dij);
    animation-name: pathAnimation;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--path-color);
}

.path-astar {
    position: relative;
}
.path-astar::after {
    z-index: 1;
    position: absolute;
    content: '';
    inset: 2.5px;
    --path-color: var(--path-color-astar);
    animation: pathAnimation;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--path-color);

}

.path-astar.path-dij::after {
    --path-color: var(--path-color-overlap);
    animation-name: pathAnimation;
}

@keyframes visitedAnimation1 {
    0%{
        transform: scale(0);
        border-radius: 100%;
    }

    50%{
        background-color: rgb(255, 164, 247);
    }
    
    75%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
        background-color: var(--visited-node-color-astar);
    }
}

@keyframes visitedAnimation2 {
    0%{
        transform: scale(0);
        border-radius: 100%;
    }

    50%{
        background-color: rgb(164, 237, 255);
    }
    
    75%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
        background-color: var(--visited-node-color-dij);
    }
}

@keyframes visitedAnimation3 {
    0%{
        transform: scale(0);
        border-radius: 100%;
    }

    50%{
        background-color: rgb(102, 118, 255);
    }
    
    75%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
        background-color: var(--visited-node-color-overlap);
    }
}

@keyframes pathAnimation {
    0%{
        transform: scale(0);
        border-radius: 100%;
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
        background-color: var(--path-color);
    }
}
